body > .wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1200px; }
  body > .wrapper .bg {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: -1; }
  body > .wrapper > .wrap {
    z-index: 1;
    width: 1200px;
    min-height: 100%;
    margin: 0px auto 0px auto; }
