body > header {
  color: #999;
  position: relative;
  height: 100px;
  background: #f3f3f3;
  top: 0;
  padding: 15px 0;
  min-width: 1200px;
  border-bottom: 3px #36739f solid;
  margin-bottom: -3px; }
  @media (max-width: 1200px) {
    body > header {
      min-width: 0 !important; }
      body > header .content {
        width: auto !important; }
        body > header .content .right .search-area {
          display: none; } }
  body > header .content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%; }
    body > header .content .logo {
      padding: 10px;
      height: 60px;
      display: block;
      float: left; }
      body > header .content .logo img {
        display: block;
        height: 100%; }
    body > header .content .right {
      float: right; }
      body > header .content .right .search-area {
        float: left; }
        body > header .content .right .search-area .input-group {
          width: 360px;
          margin-bottom: 7px; }
        body > header .content .right .search-area ul.tag-list {
          margin-right: 50px;
          float: right; }
          body > header .content .right .search-area ul.tag-list li {
            float: left;
            margin-left: 10px; }
            body > header .content .right .search-area ul.tag-list li a,
            body > header .content .right .search-area ul.tag-list li a:visited {
              font-size: 11px;
              color: #5e5e5e; }
      body > header .content .right ul.menu {
        height: 100%;
        font-size: 20px;
        float: left;
        line-height: 70px;
        margin-left: 30px;
        width: 200px; }
        body > header .content .right ul.menu li {
          float: left;
          text-align: center; }
          body > header .content .right ul.menu li:first-child {
            margin-right: 13px; }
          body > header .content .right ul.menu li a {
            font-size: 16px;
            color: #5e5e5e; }
            body > header .content .right ul.menu li a.current, body > header .content .right ul.menu li a:hover {
              color: #ff9557;
              font-size: 17px;
              border-bottom: 3px #ff9557 solid;
              text-decoration: none; }
          body > header .content .right ul.menu li:last-child {
            margin-right: 0; }
      body > header .content .right .v-hr {
        height: 60px;
        margin: 10px 20px;
        background: #ccc;
        width: 1px;
        float: left; }
      body > header .content .right .control-pad {
        line-height: 70px;
        font-size: 17px;
        position: relative;
        float: left;
        height: 100%; }
        body > header .content .right .control-pad .btn {
          margin-right: 15px;
          color: #fff; }
        body > header .content .right .control-pad a {
          color: #5e5e5e; }
      body > header .content .right .language {
        float: left;
        height: 100%;
        line-height: 70px;
        margin-left: 10px;
        font-size: 14px;
        text-align: center; }
