extend ../layout

block main-body
  include ../shared/components/header/header
  div.websocket-content.clearfix
    div.left-panel
      //- p.catalogue
      //-   a(href="/"+lan+"/guide").chosen API集市 >
      //-   a(href="/"+lan+"/apiList/mainTag/"+mainTag.id+"/subTag/"+subTag.id).chosen  #{mainTag.tagName} >
      //-   a(href="/"+lan+"/apiList/mainTag/"+mainTag.id+"/subTag/"+subTag.id).chosen  #{subTag.tagName}
      //-   //- span  #{api.apiName}
      div.choice
        each tag in tags
          if tag.display == 1
            if tag.tagName != "平台服务"
              p(id="mainTag" + tag.id).sub-title #{tag.tagName}
                each subTag, index in tag.subTags
                  p
                    if subTag.display == 1
                      a(href="/"+lan+"/apiList/mainTag/" + tag.id+ "/subTag/" + subTag.id + "/?tagIDs=" + subTag.id, id="subTag" + subTag.id) #{subTag.tagName}
            else 
              p(id="mainTag" + tag.id).sub-title.maintag-active #{tag.tagName}
                p
                  a(href="/"+lan+"/websocketContent").subtag-active 数据推送
                  each subTag, index in tag.subTags
                    p
                      if subTag.display == 1
                        a(href="/"+lan+"/apiList/mainTag/" + tag.id+ "/subTag/" + subTag.id + "/?tagIDs=" + subTag.id, id="subTag" + subTag.id) #{subTag.tagName}
    div.right-panel
      div.icon.fr
        img.icon-img(src="/assets/img/数据推送.png")
      p.api-name web socket
      p.info
        span.info-name #{category}: 
        span 数据推送、数据利用
      p.info.info-name #{update_time}: 2016-08-31
      //- p.info.info-name#modifyDate
      //- p.info
      //-   span.info-name apikey：
      //-   span.apikey 获取apikey
      p.info.info-name #{service_description}: 
      p.service-content 通过web socket，实时获取相关数据的推送。推送的数据内容包括：设备状态变化数据。
      p.nav-title #{basic_information}: 
      //- basic info
      div.form-group.display-panel#basic-info-div
        p.request-url #{request_url}
        pre.prettyprint.link ws://114.215.178.24:8081/3rdpartyapiserver/websocket/stomp
      p.nav-title Header:
      div.form-group.display-panel#request-params-div
        div.line
          table.table.param-table
            thead
              tr
                th.param-name
                  | #{parameter_name}
                th.param-type
                  | #{type}
                th.param-must
                  | #{required}
                th.param-desc
                  | #{description}
                th.param-value
                  | #{default_value}
                //- th.param-pos
                //-   | 参数位置
              tr
                td apiKey
                td string
                td
                  span.fa.fa-check
                td
                  a(class="hand", data-container="body", data-toggle="popover", data-placement="top", data-html="true", title="获取密钥", data-content="这是您在APIStore调用服务所需要的API密钥，<br />一个用户只有一个apikey，<br />可以调用平台所有服务<br/>注册用户后即可获得<br/>您可以在个人信息中查看您的apikey，<br/>为了您能够安全调用，<br/>请不要将apikey给他人使用。") apiKey
                td
      p.info-title.blue #{message_protocal}: 
        div.info-div
          div.before-name.light-blue.fl
          div.content
            p stomp
      img.slash(src="/assets/img/slash.png")
      p.info-title.green #{subscribe_address}: 
        div.info-div.large
          div.before-name.large.light-green.fl
          div.content
            span.fl 全部设备：
            p /topic/*
            span.fl 某（几）个设备：
            p /topic/thingid,thingid
      img.slash(src="/assets/img/slash.png")
      p.info-title.gray #{cancel_subscribe}: 
        div.info-div.large
          div.before-name.light-gray.fl
          div.content
            p.text-gray 如果需要取消订阅，使用subscribe()方法返回的对象（如subscription），调用subscription.unsubscribe()方法即可取消该对象订阅的消息。
      img.slash(src="/assets/img/slash.png")
    
block scripts
  script(type='text/javascript').
    $("[data-toggle=popover]").popover();
    PR.prettyPrint();
    