extend ../layout

block main-body
  include ../shared/components/header/header
  div.api-test.clearfix
    p.catalogue
      a(href="/"+lan+"/guide").chosen API集市 >
      a().chosen #{api.apiName} >
      a 参数调用
    div.main
      div.title.div-background
        p API:#{api.apiName}
        button.send 测试预览
      div.paras.div-background
        p.module-title 参数设置
        each para,index in api.bodyList
          div.para
            input.key.input-border(placeholder="参数名", value=para.para_name, id="paraName"+index)
            if(para.para_name == "thingList")
              input.value.input-border.thing-list(placeholder="值", id="paraValue"+index)
            else
              input.value.input-border(placeholder="值", id="paraValue"+index)
            i.remove(class="fa fa-minus-square")
      div.result.div-background
        p.module-title 返回结果
        div
          pre.prettyprint.content#result

  input(type="hidden", id="url", value=api.newRequestAddress)
  input(type="hidden", id="token", value=beehiveToken)
  input(type="hidden", id="apiKey", value=apiKey)
  input(type="hidden", id="thing", value=globalThingID)
  input(type="hidden", id="bodyLength", value=api.bodyList.length)
  each device, index in devices
    input(type="hidden", id="device"+index, value=device.globalThingID)
  input(type="hidden", id="devicesLength", value=devices.length)

block scripts
  script(type='text/javascript').
    var url = $('#url').val();
    var token =$('#token').val();
    var apiKey = $('#apiKey').val();
    var thing = $('#thing').val();
    var bodyLength = $('#bodyLength').val();
    var devicesLength = $('#devicesLength').val();
    var devices = '[';
    for(i=0; i<devicesLength; i++) {
      devices = devices + '"'+ $('#device'+i).val() +'"';
      if(i!= devicesLength-1){
        devices = devices + ',';
      }
    }
    devices = devices + ']';
    console.log('devices', devices);

    $('.thing-list').val(devices);

    $('.send').click(function(){
      if(apiKey == ''){
        alert('请先登录再测试');
        location.reload();
      }
      var data = '{';
      for(i=0; i<bodyLength; i++) {
        data = data + '"' + $('#paraName'+i).val() + '": ' + $('#paraValue'+i).val() + ',';
      }
      data = data + '}'
      //- var data = {}
      //- for(i=0; i<bodyLength; i++) {
      //-   data[$('#paraName'+i).val()] = $('#paraValue'+i).val();
      //- }
      console.log('data', data);
      $.ajax({
        url: url,
        headers: {
          'Authorization':'Bearer '+token,
          'Content-Type':'application/json',
          'apiKey': apiKey
        },
        method: 'POST',
        data: data,
        success: function(result){
          console.log('success: '+result);
          $('#result').text( JSON.stringify(result, null, 2));
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
          $('#result').text(errorThrown);
        }   
      });
    })

