@charset "UTF-8";
.websocket-content {
  width: 1200px;
  background: #fff;
  overflow: hidden;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .websocket-content {
      width: auto !important;
      margin: 0 0 -160px; }
      .websocket-content .left-panel {
        width: 100% !important;
        padding-left: 30px !important; }
      .websocket-content .right-panel {
        width: 100% !important;
        padding: 0 30px; } }
  .websocket-content .left-panel {
    width: 370px;
    float: left;
    font-size: 14px; }
    .websocket-content .left-panel .choice {
      width: 300px;
      border: 1px #b1b0af solid;
      border-radius: 3px;
      margin-top: 24px;
      padding-left: 13px;
      padding-right: 13px;
      padding-bottom: 30px; }
      .websocket-content .left-panel .choice .device {
        font-size: 14px;
        color: #22bad7; }
      .websocket-content .left-panel .choice .sub-title {
        font-size: 14px;
        font-weight: bold;
        color: #5a6465; }
      .websocket-content .left-panel .choice .maintag-active {
        color: #22bad7 !important; }
      .websocket-content .left-panel .choice p {
        font-size: 13px;
        color: #b1b0af;
        margin-top: 20px; }
        .websocket-content .left-panel .choice p a {
          color: #b1b0af;
          margin-left: 30px; }
          .websocket-content .left-panel .choice p a:hover {
            color: #e06f1c;
            text-decoration: underline; }
        .websocket-content .left-panel .choice p .subtag-active {
          color: #e06f1c !important;
          text-decoration: underline; }
    .websocket-content .left-panel .catalogue {
      margin-bottom: 30px;
      color: #888888; }
      .websocket-content .left-panel .catalogue .chosen {
        color: #f5833a; }
    .websocket-content .left-panel .icon {
      border-color: #000;
      width: 240px; }
      .websocket-content .left-panel .icon .icon-img {
        width: 240px; }
    .websocket-content .left-panel .footer-downloaded {
      background: #f7f8fa;
      text-align: center;
      line-height: 35px; }
      .websocket-content .left-panel .footer-downloaded .download-number {
        color: #f5833a; }
    .websocket-content .left-panel .visit {
      float: left;
      width: 120px;
      text-align: center;
      font-size: 12px;
      margin-top: 14px;
      color: #888888; }
    .websocket-content .left-panel .divide-line {
      margin-top: 13px;
      float: left;
      width: 1px;
      height: 25px;
      background: #dae1ed; }
    .websocket-content .left-panel .item-api {
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      color: #0095ea;
      padding-left: 15px; }
      .websocket-content .left-panel .item-api.active, .websocket-content .left-panel .item-api:hover {
        box-shadow: inset -3px 0 4px 1px rgba(0, 0, 0, 0.1);
        background: #0095ea;
        color: #fff;
        border-right: solid 10px #2171C2;
        border-right: 10px solid #2171C2; }
  .websocket-content .right-panel {
    width: 800px;
    float: left;
    padding-top: 24px; }
    .websocket-content .right-panel .icon {
      border: 1px solid #e3e8f1; }
    .websocket-content .right-panel.active {
      display: block; }
    .websocket-content .right-panel .api-name {
      font-size: 18px;
      color: #333333; }
    .websocket-content .right-panel .info {
      margin-top: 25px;
      color: #4a4a4a;
      font-size: 14px; }
    .websocket-content .right-panel .info-name {
      color: #969696;
      font-size: 14px; }
    .websocket-content .right-panel .apikey {
      color: #36739f;
      font-size: 14px; }
    .websocket-content .right-panel .service-content {
      margin-top: 10px;
      background: #f7f8fa;
      color: #5c5c5c;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 150%;
      font-family: Verdana,"华文细黑";
      padding: 14px 25px;
      margin-bottom: 30px; }
    .websocket-content .right-panel .additional-info {
      float: left;
      width: 120px;
      margin-top: 20px;
      line-height: 18px;
      height: 18px;
      color: #4a4a4a;
      font-size: 14px; }
      .websocket-content .right-panel .additional-info .text {
        margin-left: 6px; }
    .websocket-content .right-panel .nav-title {
      color: #f5833a;
      font-size: 16px; }
    .websocket-content .right-panel .content-nav {
      width: 780px;
      background-color: #dadfe6;
      margin-top: 60px; }
      .websocket-content .right-panel .content-nav .nav {
        width: 195px;
        height: 40px;
        line-height: 20px;
        float: left;
        cursor: pointer; }
        .websocket-content .right-panel .content-nav .nav a {
          line-height: 40px;
          display: block;
          text-decoration: none;
          text-align: center;
          border-right: 1px solid #fff;
          color: #3a3a3a; }
        .websocket-content .right-panel .content-nav .nav.active, .websocket-content .right-panel .content-nav .nav:hover {
          background: #f59f49; }
          .websocket-content .right-panel .content-nav .nav.active a, .websocket-content .right-panel .content-nav .nav:hover a {
            border-right: none;
            color: #fff; }
        .websocket-content .right-panel .content-nav .nav:last-child a {
          border-right: none; }
    .websocket-content .right-panel .display-panel {
      margin-top: 10px; }
      .websocket-content .right-panel .display-panel table.content-table {
        font-size: 12px; }
        .websocket-content .right-panel .display-panel table.content-table tr {
          height: 24px;
          line-height: 24px; }
          .websocket-content .right-panel .display-panel table.content-table tr .col-name {
            max-width: 120px;
            font-size: 14px;
            color: #666666;
            font-weight: 500;
            text-align: center;
            margin-bottom: 0; }
          .websocket-content .right-panel .display-panel table.content-table tr span {
            font-size: 14px; }
      .websocket-content .right-panel .display-panel.active {
        display: block; }
      .websocket-content .right-panel .display-panel .line {
        margin-bottom: 20px; }
      .websocket-content .right-panel .display-panel .text-content {
        color: #4a4a4a;
        font-size: 14px; }
      .websocket-content .right-panel .display-panel .dashed-line {
        margin-top: 30px;
        border-top: 1px #cdcdcd dashed;
        height: 1px; }
      .websocket-content .right-panel .display-panel .table.param-table {
        margin-bottom: 30px;
        border: #ccc solid 1px; }
        .websocket-content .right-panel .display-panel .table.param-table th {
          border: #ccc solid 1px;
          text-align: left;
          font-size: 14px;
          color: #4a4a4a;
          background: #f0f0f0; }
        .websocket-content .right-panel .display-panel .table.param-table td {
          border: #ccc solid 1px;
          color: #4a4a4a;
          font-size: 14px; }
        .websocket-content .right-panel .display-panel .table.param-table .fa-check {
          color: #3c763d; }
        .websocket-content .right-panel .display-panel .table.param-table .fa-close {
          color: #a94442; }
    .websocket-content .right-panel .info-title {
      font-size: 16px; }
    .websocket-content .right-panel .info-div {
      width: 100%;
      height: 17px;
      display: block;
      float: left;
      margin-top: 20px; }
      .websocket-content .right-panel .info-div.large {
        height: 38px !important; }
      .websocket-content .right-panel .info-div .before-name {
        width: 5px;
        height: 17px; }
        .websocket-content .right-panel .info-div .before-name.large {
          height: 38px !important; }
      .websocket-content .right-panel .info-div .content {
        margin-left: 15px; }
        .websocket-content .right-panel .info-div .content span {
          color: #69af4a; }
        .websocket-content .right-panel .info-div .content p {
          color: #4a4a4a;
          font-size: 14px; }
        .websocket-content .right-panel .info-div .content .new-request-address {
          margin-top: 10px;
          font-size: 14px; }
        .websocket-content .right-panel .info-div .content .description {
          font-size: 14px;
          color: #888888;
          margin-top: 10px; }
      .websocket-content .right-panel .info-div .download {
        color: #f5833a;
        font-size: 12px; }

.blue {
  color: #36739f !important; }

.light-blue {
  background-color: #cfdce6 !important; }

.green {
  color: #69af4a !important; }

.light-green {
  background-color: #d5e6cf !important; }

.gray {
  color: #626f79 !important; }

.light-gray {
  background-color: #cfdce6 !important; }

.text-gray {
  color: #7b8d9a; }

.slash {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px; }
