body > .wrapper-full-screen {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative; }
  body > .wrapper-full-screen > .wrap {
    z-index: 1;
    width: 100%;
    min-height: 100%; }
