extend ../layout

block main-body
	include ../shared/components/header/header
	div.personal.clearfix
		p.title 个人中心
		hr.line
		div.icon
			img(src="/assets/img/API-personal-avatar.png")
			div.footer.clearfix
				img(src="/assets/img/API-personal-icon.png").fl
				p.fl #{user.displayName}
		div.info
			p.sub-title 个人信息
			form.form-horizontal
				div.form-group
					label.col-sm-2.control-label 用户名
					div.col-sm-10
						input(value=user.displayName, disabled="disabled").form-control
				div.form-group
					label.col-sm-2.control-label 电子邮件
					div.col-sm-10
						input(value=user.emailAddress, disabled="disabled").form-control
				div.form-group
					label.col-sm-2.control-label apikey
					div.col-sm-10
						input(value=apiKey, disabled="disabled").form-control.generated
				div.form-group
					label.col-sm-2.control-label 手机号码
					div.col-sm-10
						input(disabled="disabled").form-control
			div.col-sm-2
			button(onclick='logout()').save 登出
	//- include ../shared/components/footer/footer

block scripts
	script(type='text/javascript').
		function getCookie(name) {
			var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
			if(arr=document.cookie.match(reg))
				return unescape(arr[2]);
			else
				return null;
		}
		function deleteCookie(name) {
			document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		}
		function logout() {
				localStorage.removeItem('KiiApiStorePortal.USER_SESSION');
				deleteCookie('Authorization');
				window.location.href='/cn/guide';
		}
	
