.guide {
  background: url("/assets/img/guide-background.png") no-repeat;
  text-align: center;
  background-size: cover;
  min-width: 1200px;
  height: 600px;
  padding-top: 60px; }
  @media (max-width: 1200px) {
    .guide {
      min-width: 0 !important;
      background: url("/assets/img/guide-background.png") no-repeat;
      background-size: cover; } }
  .guide .title {
    margin: 50px auto 0 auto; }
  .guide .entrance {
    float: left;
    width: 50%; }
    .guide .entrance .developer {
      margin-top: 60px;
      float: right; }
      .guide .entrance .developer p {
        color: #b5eefe;
        font-size: 19px;
        float: left;
        line-height: 245px; }
    .guide .entrance .provider {
      margin-top: 40px;
      float: left; }
      .guide .entrance .provider img {
        float: left; }
