footer
  div.link-board
    div.row
      div.col-xs-2
        div.title
          | 平台
        a
          | 物联网
        a
          | 企业级应用
      div.col-xs-2
        div.title
          | 用户管理

        a  
          | 数据管理
        a  
          | 消息推送
        a  
          | 地理定位
        a  
          | 服务器拓展
        a  
          | 数据分析
        a  
          | A/B Testing
        a  
          | 社交分享


      div.col-xs-2
        div.title
          | 合作伙伴

        a  
          | 战略和实施
        a  
          | 技术合作伙伴
        a  
          | 中国合作伙伴

      div.col-xs-2
        div.title
          | 资源

        a  
          | 文档
        a  
          | IOS 快速入门
        a  
          | Android 快速入门
        a  
          | Javascript 快速入门
        a  
          | Unity 快速入门
        a  
          | REST 指南
        a  
          | 平台扩展


      div.col-xs-2
        div.title
          | 公司介绍

        a  
          | 团队成员
        a  
          | 投资者
        a  
          | 创投基金
        a  
          | 招贤纳士
        a  
          | 媒体与活动
        a  
          | 联系我们

      div.col-xs-2
        div.title
          | 友情链接

        a  
          | Kii中国
        a  
          | 百度
        a  
          | 阿里巴巴
        a
          | MTK


  div.bottom
    p @2014 Kii Corporation. All Rights Reserved. Terms Privacy
