html
  head
    meta(name="viewport", content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=1")
    title
      block page-title
    //- bower:css
    link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/bower_components/google-code-prettify/bin/prettify.min.css")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //- endinject

    //- inject:css
    link(rel="stylesheet", href="/style/global.css")
    link(rel="stylesheet", href="/style/apiList/apiList.css")
    link(rel="stylesheet", href="/style/apiContent/apiContent.css")
    link(rel="stylesheet", href="/style/apiPreview/apiPreview.css")
    link(rel="stylesheet", href="/style/apiTest/apiTest.css")
    link(rel="stylesheet", href="/style/files/files.css")
    link(rel="stylesheet", href="/style/guide/guide.css")
    link(rel="stylesheet", href="/style/home/home.css")
    link(rel="stylesheet", href="/style/personal/personal.css")
    link(rel="stylesheet", href="/style/search/search.css")
    link(rel="stylesheet", href="/style/shared/global.mixin.css")
    link(rel="stylesheet", href="/style/tutorial/tutorial.css")
    link(rel="stylesheet", href="/style/websocketContent/websocketContent.css")
    link(rel="stylesheet", href="/style/shared/components/footer/footer.css")
    link(rel="stylesheet", href="/style/shared/components/header/header.css")
    link(rel="stylesheet", href="/style/shared/components/navbar/navbar.css")
    link(rel="stylesheet", href="/style/shared/components/wrapper/wrapper.css")
    link(rel="stylesheet", href="/style/shared/components/wrapper-fit/wrapper.css")
    link(rel="stylesheet", href="/style/shared/components/wrapper-full-screen/wrapper-full-screen.css")
    //- endinject

  Body
    block main-body
    //- bower:js
    script(src="/bower_components/underscore/underscore.js")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/google-code-prettify/bin/prettify.min.js")
    script(src="/bower_components/clipboard/dist/clipboard.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    //- endinject

    script(type='text/javascript').
      
    //- inject:js
    //- endinject

  block scripts
