body > footer {
  background: #f7f3f0;
  color: #808080;
  clear: both;
  min-width: 1200px;
  position: relative;
  margin-top: 160px;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  @media (max-width: 1200px) {
    body > footer {
      min-width: 0px !important;
      height: 160px; }
      body > footer .link-board {
        width: auto !important;
        display: none; }
      body > footer .bottom {
        line-height: 100px; } }
  body > footer .link-board {
    width: 1200px;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 210px; }
    body > footer .link-board .title {
      font-size: 16px;
      margin-bottom: 15px; }
    body > footer .link-board a {
      margin-left: 3px;
      border-left: solid 1px #f5833a;
      text-indent: 5px;
      color: #bbb;
      display: block;
      margin-bottom: 9px; }
  body > footer span {
    float: right; }
    body > footer span a {
      color: #989898; }
  body > footer .bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 160px;
    background-color: #f5833a;
    color: #fff;
    font-size: 14px;
    word-spacing: 8px; }
