@charset "UTF-8";
.api-content {
  width: 1200px;
  background: #fff;
  overflow: hidden;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .api-content {
      width: auto !important;
      margin: 0 0 -160px; }
      .api-content .left-panel {
        width: 100% !important;
        padding-left: 30px !important; }
      .api-content .right-panel {
        width: 100% !important;
        padding: 0 30px; } }
  .api-content .left-panel {
    width: 370px;
    float: left;
    font-size: 14px; }
    .api-content .left-panel .choice {
      width: 300px;
      border: 1px #b1b0af solid;
      border-radius: 3px;
      margin-top: 24px;
      padding-left: 13px;
      padding-right: 13px;
      padding-bottom: 30px; }
      .api-content .left-panel .choice .device {
        font-size: 14px;
        color: #22bad7; }
      .api-content .left-panel .choice .sub-title {
        font-size: 14px;
        font-weight: bold;
        color: #5a6465; }
      .api-content .left-panel .choice .maintag-active {
        color: #22bad7 !important; }
      .api-content .left-panel .choice p {
        font-size: 13px;
        color: #b1b0af;
        margin-top: 20px; }
        .api-content .left-panel .choice p a {
          color: #b1b0af;
          margin-left: 30px; }
          .api-content .left-panel .choice p a:hover {
            color: #e06f1c;
            text-decoration: underline; }
        .api-content .left-panel .choice p .subtag-active {
          color: #e06f1c !important;
          text-decoration: underline; }
    .api-content .left-panel .catalogue {
      margin-bottom: 30px;
      color: #888888; }
      .api-content .left-panel .catalogue .chosen {
        color: #f5833a; }
    .api-content .left-panel .icon {
      border-color: #000;
      width: 240px; }
      .api-content .left-panel .icon .icon-img {
        width: 240px; }
    .api-content .left-panel .footer-downloaded {
      background: #f7f8fa;
      text-align: center;
      line-height: 35px; }
      .api-content .left-panel .footer-downloaded .download-number {
        color: #f5833a; }
    .api-content .left-panel .visit {
      float: left;
      width: 120px;
      text-align: center;
      font-size: 12px;
      margin-top: 14px;
      color: #888888; }
    .api-content .left-panel .divide-line {
      margin-top: 13px;
      float: left;
      width: 1px;
      height: 25px;
      background: #dae1ed; }
    .api-content .left-panel .item-api {
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      color: #0095ea;
      padding-left: 15px; }
      .api-content .left-panel .item-api.active, .api-content .left-panel .item-api:hover {
        box-shadow: inset -3px 0 4px 1px rgba(0, 0, 0, 0.1);
        background: #0095ea;
        color: #fff;
        border-right: solid 10px #2171C2;
        border-right: 10px solid #2171C2; }
  .api-content .right-panel {
    width: 800px;
    float: left;
    padding-top: 24px; }
    .api-content .right-panel .test {
      position: fixed;
      z-index: 1;
      right: 150px;
      top: 350px;
      font-size: 14px;
      text-align: center; }
      .api-content .right-panel .test :hover {
        cursor: pointer; }
      .api-content .right-panel .test .title {
        position: absolute;
        top: 0;
        right: 0;
        width: 76px;
        height: 24px;
        line-height: 24px;
        color: #fff;
        background-color: #43bcd3;
        border-radius: 6px; }
      .api-content .right-panel .test .curl-btn {
        position: absolute;
        top: 30px;
        right: 0;
        width: 76px;
        height: 32px;
        line-height: 32px;
        background-color: #62d8ed;
        stroke: #edf0f2; }
      .api-content .right-panel .test .parameter-btn {
        position: absolute;
        top: 62px;
        right: 0;
        width: 76px;
        height: 32px;
        line-height: 32px;
        background-color: #fff;
        stroke: #edf0f2;
        color: #7b8d9a; }
    .api-content .right-panel .curl {
      width: 50%;
      height: 60px;
      position: fixed;
      top: 200px;
      left: 25%;
      display: none;
      z-index: 1; }
      .api-content .right-panel .curl .header {
        background-color: #447497;
        filter: alpha(opacity=70);
        /*IE滤镜，透明度50%*/
        -moz-opacity: 0.7;
        /*Firefox私有，透明度50%*/
        opacity: 0.7;
        /*其他，透明度50%*/
        position: relative;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px; }
        .api-content .right-panel .curl .header p {
          position: absolute;
          width: 90px;
          line-height: 60px;
          font-size: 17px;
          color: #fff;
          font-size: 18px; }
        .api-content .right-panel .curl .header button {
          position: absolute;
          width: 90px;
          height: 30px;
          line-height: 30px;
          top: 15px;
          border: 0px;
          font-size: 14px;
          color: #fff;
          right: 10px;
          font-size: 12px;
          background-color: #ffae12;
          stroke: #ee9e04;
          display: hide; }
      .api-content .right-panel .curl .content {
        position: absolute;
        width: 100%;
        top: 60px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        min-height: 50px;
        padding: 15px; }
    .api-content .right-panel .icon {
      border: 1px solid #e3e8f1; }
    .api-content .right-panel.active {
      display: block; }
    .api-content .right-panel .api-name {
      font-size: 18px;
      color: #333333; }
    .api-content .right-panel .info {
      margin-top: 25px;
      color: #4a4a4a;
      font-size: 14px; }
      .api-content .right-panel .info span:last-child.disappear {
        display: none; }
    .api-content .right-panel .info-name {
      color: #969696;
      font-size: 14px; }
    .api-content .right-panel .apikey {
      color: #36739f;
      font-size: 14px; }
    .api-content .right-panel .service-content {
      margin-top: 10px;
      background: #f7f8fa;
      color: #5c5c5c;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 150%;
      font-family: Verdana, "华文细黑";
      padding: 14px 25px;
      margin-bottom: 30px; }
    .api-content .right-panel .additional-info {
      float: left;
      width: 120px;
      margin-top: 20px;
      line-height: 18px;
      height: 18px;
      color: #4a4a4a;
      font-size: 14px; }
      .api-content .right-panel .additional-info .text {
        margin-left: 6px; }
    .api-content .right-panel .nav-title {
      color: #f5833a;
      font-size: 16px; }
    .api-content .right-panel .content-nav {
      width: 780px;
      background-color: #dadfe6;
      margin-top: 60px; }
      .api-content .right-panel .content-nav .nav {
        width: 195px;
        height: 40px;
        line-height: 20px;
        float: left;
        cursor: pointer; }
        .api-content .right-panel .content-nav .nav a {
          line-height: 40px;
          display: block;
          text-decoration: none;
          text-align: center;
          border-right: 1px solid #fff;
          color: #3a3a3a; }
        .api-content .right-panel .content-nav .nav.active, .api-content .right-panel .content-nav .nav:hover {
          background: #f59f49; }
          .api-content .right-panel .content-nav .nav.active a, .api-content .right-panel .content-nav .nav:hover a {
            border-right: none;
            color: #fff; }
        .api-content .right-panel .content-nav .nav:last-child a {
          border-right: none; }
    .api-content .right-panel .display-panel {
      margin-top: 10px; }
      .api-content .right-panel .display-panel table.content-table {
        font-size: 12px; }
        .api-content .right-panel .display-panel table.content-table tr {
          height: 24px;
          line-height: 24px; }
          .api-content .right-panel .display-panel table.content-table tr .col-name {
            max-width: 120px;
            font-size: 14px;
            color: #666666;
            font-weight: 500;
            text-align: center;
            margin-bottom: 0; }
          .api-content .right-panel .display-panel table.content-table tr span {
            font-size: 14px; }
      .api-content .right-panel .display-panel.active {
        display: block; }
      .api-content .right-panel .display-panel .line {
        margin-bottom: 20px; }
      .api-content .right-panel .display-panel .text-content {
        color: #4a4a4a;
        font-size: 14px; }
      .api-content .right-panel .display-panel .dashed-line {
        margin-top: 30px;
        border-top: 1px #cdcdcd dashed;
        height: 1px; }
      .api-content .right-panel .display-panel .table.param-table {
        border: #ccc solid 1px; }
        .api-content .right-panel .display-panel .table.param-table th {
          border: #ccc solid 1px;
          text-align: left;
          font-size: 14px;
          color: #4a4a4a;
          background: #f0f0f0; }
        .api-content .right-panel .display-panel .table.param-table td {
          border: #ccc solid 1px;
          color: #4a4a4a;
          font-size: 14px; }
        .api-content .right-panel .display-panel .table.param-table .fa-check {
          color: #3c763d; }
        .api-content .right-panel .display-panel .table.param-table .fa-close {
          color: #a94442; }
      .api-content .right-panel .display-panel .code-box {
        margin-top: 10px;
        border: 1px #e0e0e0 solid; }
      .api-content .right-panel .display-panel .code-type-container {
        height: 50px;
        background-color: #e8f7ff; }
        .api-content .right-panel .display-panel .code-type-container a {
          line-height: 50px;
          padding-left: 25px;
          cursor: pointer;
          color: #21bdd9; }
          .api-content .right-panel .display-panel .code-type-container a.active {
            color: #0095ea; }
      .api-content .right-panel .display-panel .example-code-container {
        height: auto;
        display: none;
        background-color: #fafcff; }
        .api-content .right-panel .display-panel .example-code-container.active {
          display: block; }
        .api-content .right-panel .display-panel .example-code-container .example-code {
          height: auto; }
        .api-content .right-panel .display-panel .example-code-container pre {
          white-space: pre-wrap; }

#basic-info-div {
  background-color: #fff8f4;
  border: 1px solid #f5833a;
  border-radius: 10px;
  padding: 40px 10px;
  position: relative; }
  #basic-info-div .request-url {
    position: absolute;
    top: 15px;
    font-size: 14px; }
  #basic-info-div .link {
    font-size: 14px;
    padding: 20px 15px; }

#request-params-div {
  font-size: 13px; }
  #request-params-div table th {
    background-color: #7b8d9a;
    color: #fff; }
  #request-params-div table td:nth-child(odd) {
    background-color: #edf0f2; }

#example-code-div {
  background-color: #fafdff;
  border: 1px solid #3793c9;
  border-radius: 10px;
  padding: 15px; }
  #example-code-div label {
    margin-top: 5px;
    font-size: 14px; }

#error-code-div {
  font-size: 13px; }
  #error-code-div table th {
    background-color: #eb8f54;
    color: #fff; }
  #error-code-div table td {
    background-color: #faf0f0; }
