body > .wrapper-fit {
  display: block;
  max-width: 900px;
  margin: 0px auto;
  overflow: hidden;
  position: relative; }
  body > .wrapper-fit > .wrap {
    z-index: 1;
    width: 100%;
    min-height: 100%; }
