extend ../layout



block main-body
  include ../shared/components/header/header
  div.home
    div.page-content
      div.marketing-panel.clearfix
        div.left-side
          ul.tag-list
            li.tag(class= index===0? "active": "", data-index=index)
              a(href="/cn/apiList/mainTag/404/subTag/409") 
                img(src="/assets/img/device-tag.png")
                span
                  | 设备控制
            li.tag.odd(class= index===0? "active": "", data-index=index)
              a(href="/cn/apiList/mainTag/405/subTag/414")
                img(src="/assets/img/data-tag.png")
                span
                  | 数据利用
            li.tag.odd(class= index===0? "active": "", data-index=index)
              a(href="/cn/apiList/mainTag/406/subTag/417")
                img(src="/assets/img/rule-engine-tag.png")
                span
                  | 规则引擎
            li.tag(class= index===0? "active": "", data-index=index)
              a(href="/cn/apiList/mainTag/407/subTag/421")
                img(src="/assets/img/geo-tag.png")
                span
                  | 地理位置
            li.tag(class= index===0? "active": "", data-index=index)
              a(href="/cn/apiList/mainTag/408/subTag/425")
                img(src="/assets/img/user-tag.png")
                span
                  | 用户管理
            li.tag.odd(class= index===0? "active": "", data-index=index)
              a(href="/cn/apiList/mainTag/404/subTag/409")
                span.no-pic
                  | 更多..
        div.center-side
          img(src="/assets/img/carousel-1.png")
        div.right-side
          div.panel
            div.panel-heading
              | 优质渠道商
            div.panel-body
              ul.clearfix
                li.brand.top.left
                  img(src="/assets/img/brand1.png")
                li.brand.top.right
                  img(src="/assets/img/brand2.png")
                li.brand.left
                  img(src="/assets/img/brand3.png")
                li.brand.right
                  img(src="/assets/img/brand4.png")
                li.brand.bottom.left
                  img(src="/assets/img/brand5.png")
                li.brand.bottom.right
                  img(src="/assets/img/brand6.png")

            div.panel-footer
              img(src="/assets/img/notify-icon.png") 
              | 热门接口发布...
      div.content-panel.clearfix
        div.steps
          img(src="/assets/img/steps.png")
        //- div.use-case-title
        //-   img(src="/assets/img/case-title.png")
        //- div.use-case-content
        //-   div.row
        //-     div.case.col-xs-2
        //-       i
        //- 
        //-     div.case.col-xs-2
        //-       i
        //- 
        //-     div.case.col-xs-2
        //-       i
        //- 
        //-     div.case.col-xs-2
        //-       i
        //- 
        //-     div.case.col-xs-2
        //-       i
        //- 
        //-     div.case.col-xs-2
        //-       i


        //- 
        //- div.partner-title
        //-   img(src="/assets/img/partner-title.png")
        //- div.partner-content
        //-   ul.partners
        //-     li
        //-       a
        //-         img(src="/assets/img/brand1.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand2.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand3.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand4.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand5.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand6.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand1.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand2.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand3.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand4.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand5.png")
        //-     li
        //-       a
        //-         img(src="/assets/img/brand6.png")

  //- include ../shared/components/footer/footer


block scripts
  script(type='text/javascript').
  style.
    @media(max-width: 1200px){
      body > header{
        min-width: 1200px !important;
      }
      body > footer{
        min-width: 1200px !important;
      }
    }
