@charset "UTF-8";
body .dropdown-backdrop,
html .dropdown-backdrop {
  position: static; }

.api-list {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: -160px;
  font-size: 13px; }
  @media (max-width: 1200px) {
    .api-list {
      width: 100% !important;
      margin: 0 0 -160px; }
      .api-list .left {
        width: 100% !important; }
      .api-list .right {
        width: 100% !important;
        padding: 0 30px; }
      .api-list .choice {
        display: none; }
      .api-list .mobile-choice {
        display: block !important; }
        .api-list .mobile-choice .content-nav {
          background-color: #dadfe6;
          width: 100%;
          margin: 30px auto 0; }
          .api-list .mobile-choice .content-nav .nav.dropdown {
            height: 50px;
            float: left;
            cursor: pointer; }
            .api-list .mobile-choice .content-nav .nav.dropdown.open {
              background: #f59f49; }
              .api-list .mobile-choice .content-nav .nav.dropdown.open .dropdown-toggle {
                color: #fff; }
            .api-list .mobile-choice .content-nav .nav.dropdown .dropdown-menu {
              border-radius: 0;
              box-shadow: none;
              -webkit-box-shadow: none;
              min-width: 0;
              padding: 0;
              margin: 0;
              min-width: 100%; }
            .api-list .mobile-choice .content-nav .nav.dropdown .dropdown-toggle {
              font-size: 20px;
              line-height: 50px;
              display: block;
              width: 100%;
              text-decoration: none;
              text-align: center;
              color: #3a3a3a; }
            .api-list .mobile-choice .content-nav .nav.dropdown ul li a {
              color: #3a3a3a;
              font-size: 18px; }
              .api-list .mobile-choice .content-nav .nav.dropdown ul li a:hover {
                background: #f59f49;
                color: #fff; } }
  .api-list .left {
    width: 300px;
    float: left; }
  .api-list .right {
    width: 880px;
    float: right; }
  .api-list .layer-nav {
    margin-top: 40px;
    border-bottom: 1px #6c98b9 solid; }
    .api-list .layer-nav li.active > a {
      border: 1px solid #6c98b9;
      border-bottom-color: transparent;
      font-weight: bold; }
    .api-list .layer-nav li > a:hover {
      background-color: transparent !important;
      border-bottom-color: #fff; }
  .api-list .api-div {
    padding: 20px 20px 0;
    border-left: 1px #6c98b9 solid;
    border-right: 1px #6c98b9 solid;
    border-bottom: 1px #6c98b9 solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none; }
    .api-list .api-div .api-table {
      background: #fafdff; }
      .api-list .api-div .api-table th {
        font-weight: bold;
        background: #e1effa; }
      .api-list .api-div .api-table tr:nth-child(4n-3),
      .api-list .api-div .api-table tr:nth-child(4n-1) {
        background: #e6f3f6; }
      .api-list .api-div .api-table td:nth-child(1) {
        background: #fafdff; }
      .api-list .api-div .api-table td[rowspan] {
        vertical-align: middle;
        text-align: center; }
      .api-list .api-div .api-table .api-th {
        text-align: center; }
  .api-list .choice {
    border: 1px #b1b0af solid;
    border-radius: 3px;
    margin-top: 24px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 30px; }
    .api-list .choice .device {
      font-size: 14px;
      color: #22bad7; }
    .api-list .choice .sub-title {
      font-size: 14px;
      font-weight: bold;
      color: #5a6465; }
    .api-list .choice .maintag-active {
      color: #22bad7 !important; }
    .api-list .choice p {
      font-size: 13px;
      color: #b1b0af;
      margin-top: 20px; }
      .api-list .choice p a {
        color: #b1b0af;
        margin-left: 30px; }
        .api-list .choice p a:hover {
          color: #e06f1c;
          text-decoration: underline; }
  .api-list .mobile-choice {
    display: none; }
  .api-list .list-div {
    padding-top: 24px;
    padding-left: 24px; }
    .api-list .list-div .selected-div {
      margin-top: 25px; }
      .api-list .list-div .selected-div .selected-search {
        font-size: 13px;
        font-size: #828282;
        margin-right: 15px;
        display: inline; }
      .api-list .list-div .selected-div .selected-subtag {
        border: 1px solid #d0d4df;
        color: #929292;
        display: inline;
        margin-left: 10px;
        padding: 3px 10px; }
    .api-list .list-div .subtag-div {
      margin-top: 10px; }
      .api-list .list-div .subtag-div .subtag-choice {
        display: inline-block;
        font-size: 13px;
        margin-right: 50px;
        margin-top: 15px;
        color: #36739f; }
        .api-list .list-div .subtag-div .subtag-choice .active {
          color: #f5833a; }
    .api-list .list-div .top-text {
      margin-left: 20px; }
      .api-list .list-div .top-text span {
        font-size: 13px;
        color: #5e5e5e; }
      .api-list .list-div .top-text .release {
        color: #e06f1c;
        margin-right: 20px; }
    .api-list .list-div .black-line {
      margin-top: 9px;
      border-top: 1px #5e5e5e solid; }
    .api-list .list-div .tag-img {
      display: block;
      float: left;
      width: 310px;
      border: 1px #dae1ed solid; }
    .api-list .list-div .tag-info {
      float: right;
      display: block;
      margin-top: 25px;
      width: 100%;
      padding-left: 370px;
      margin-left: -310px; }
      .api-list .list-div .tag-info .title {
        font-size: 18px;
        color: #333333; }
      .api-list .list-div .tag-info .description {
        margin-top: 10px;
        background: #f7f8fa;
        color: #5c5c5c;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 100%;
        font-family: Verdana,"华文细黑";
        padding: 5px 10px; }
    .api-list .list-div .api-layer {
      margin-top: 40px; }
    .api-list .list-div .orange-line {
      border-top: 1px #cdcdcd solid;
      margin-top: 10px;
      margin-bottom: 25px; }
    .api-list .list-div .list {
      margin-bottom: 70px; }
      .api-list .list-div .list li:first-child {
        border-top: none; }
      .api-list .list-div .list .item {
        padding-top: 20px; }
        .api-list .list-div .list .item .api {
          width: 100%;
          display: block;
          float: left;
          margin-top: 3px; }
          .api-list .list-div .list .item .api .before-name {
            width: 5px;
            height: 18px;
            background-color: #f5833a; }
          .api-list .list-div .list .item .api .info {
            margin-left: 15px; }
            .api-list .list-div .list .item .api .info a {
              color: #333333;
              font-size: 18px; }
            .api-list .list-div .list .item .api .info .new-request-address {
              margin-top: 10px;
              font-size: 14px; }
            .api-list .list-div .list .item .api .info .description {
              font-size: 14px;
              color: #888888;
              margin-top: 10px; }
          .api-list .list-div .list .item .api .download {
            color: #f5833a;
            font-size: 12px; }
  .api-list .dashed-line {
    border-top: 0.5px #cdcdcd dashed;
    height: 1px;
    margin-top: 25px; }
  .api-list .subtag-active {
    color: #e06f1c !important;
    text-decoration: underline; }
