extend ../layout

block main-body
  include ../shared/components/header/header
  div.guide
    div.icon
      img(src="/assets/img/guide-icon.png")
    div.title
      img(src= "/assets/img/"+lan+"_guide-introduction.png")
    div.entrance
      div.developer
        p.left #{chooseEntrance} 
          label
            img(src="/assets/img/guide-role-entrance.png")
        a(href="/"+lan+"/apiList/mainTag/404/subTag/409/?tagIDs=409")
          img(src= "/assets/img/"+lan+"_guide-developer.png", onMouseOver="this.src='/assets/img/"+lan+"_guide-developer_highlight.png'", onMouseOut="this.src='/assets/img/"+lan+"_guide-developer.png'")
    div.entrance
      div.provider
        img(src= "/assets/img/guide-title.png")
        br
        a(href="/registration/index.html#/Secure/Login")
          img(src= "/assets/img/"+lan+"_guide-provider.png", onMouseOver="this.src='/assets/img/"+lan+"_guide-provider_highlight.png'", onMouseOut="this.src='/assets/img/"+lan+"_guide-provider.png'")
          
    //- div.role
    //-   a(href="/"+lan+"/apiList/mainTag/404/subTag/409/?tagIDs=409")
    //-     img(src= "/assets/img/"+lan+"_guide-developer.png", onMouseOver="this.src='/assets/img/"+lan+"_guide-developer_highlight.png'", onMouseOut="this.src='/assets/img/"+lan+"_guide-developer.png'")
    //-   a(href="/registration/index.html#/Secure/Login")
    //-     img(src= "/assets/img/"+lan+"_guide-provider.png", onMouseOver="this.src='/assets/img/"+lan+"_guide-provider_highlight.png'", onMouseOut="this.src='/assets/img/"+lan+"_guide-provider.png'")
  //- include ../shared/components/footer/footer

block scripts
  script(type='text/javascript').
