extend ../layout

block main-body
  div.api-preview.clearfix
    div.right-panel
      p.api-name #{api.apiName}
      p.info.info-name#modifyDate
      //- p.info
      //-   span.info-name apikey：
      //-   span.apikey 获取apikey
      p.info.info-name #{service_description}:
      p.service-content #{api.description}
      //- div.clearfix
      //-   div.additional-info
      //-     img(src="/assets/img/API-内容详情-技术支持.png")
      //-     span.text 技术支持
      //-   div.additional-info
      //-     img(src="/assets/img/API-内容详情-服务协议.png")
      //-     span.text 服务协议
      //-   div.additional-info
      //-     img(src="/assets/img/API-内容详情-特色功能.png")
      //-     span.text 特色功能
      p.nav-title #{basic_information}:
      //- basic info
      div.form-group.display-panel#basic-info-div
        p.request-url #{request_url}:
        pre.prettyprint.link #{api.newRequestAddress}
      //- header
      p.nav-title #{request_parameter}(header):
      div.form-group.display-panel#request-params-div
        div.line
          table.table.param-table
            thead
              tr
                th.param-name
                  | #{parameter_name}
                th.param-type
                  | #{type}
                th.param-must
                  | #{required}
                th.param-desc
                  | #{description}
                th.param-value
                  | #{default_value}
                //- th.param-pos
                //-   | 参数位置
              tr
                td apiKey
                td string
                td
                  span.fa.fa-check
                td
                  a(class="hand", data-container="body", data-toggle="popover", data-placement="top", data-html="true", title="获取密钥", data-content="这是您在APIStore调用服务所需要的API密钥，<br />一个用户只有一个apikey，<br />可以调用平台所有服务<br/>注册用户后即可获得<br/>您可以在个人信息中查看您的apikey，<br/>为了您能够安全调用，<br/>请不要将apikey给他人使用。") apiKey
                td
              each param in api.bodyList
                if param.para_name == "Authorization"
                  tr
                    td #{param.para_name}
                    td #{param.para_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.para_note}
                    td #{param.para_value}
              each param in api.headerList
                if param.para_name == "Authorization"
                  tr
                    td #{param.para_name}
                    td #{param.para_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.para_note}
                    td #{param.para_value}
               each param in api.urlList
                if param.para_name == "Authorization"
                  tr
                    td #{param.para_name}
                    td #{param.para_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.para_note}
                    td #{param.para_value}
      //- request params
      p.nav-title #{request_parameter}(body):
      div.form-group.display-panel#request-params-div
        div.line
          table.table.param-table
            thead
              tr
                th.param-name
                  | #{parameter_name}
                th.param-type
                  | #{type}
                th.param-must
                  | #{required}
                th.param-desc
                  | #{description}
                th.param-value
                  | #{default_value}
                //- th.param-pos
                //-   | 参数位置
            tbody
            each param in api.bodyList
              if param.para_name != "Authorization"
                tr
                  td #{param.para_name}
                  td #{param.para_type}
                  td
                    span.fa(class= param.must?'fa-check' : 'fa-close')
                  td #{param.para_note}
                  td #{param.para_value}
            each param in api.headerList
              if param.para_name != "Authorization"
                  tr
                    td #{param.para_name}
                    td #{param.para_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.para_note}
                    td #{param.para_value}
            each param in api.urlList
              if param.para_name != "Authorization"
                  tr
                    td #{param.para_name}
                    td #{param.para_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.para_note}
                    td #{param.para_value}
      //- example code
      p.nav-title 示例代码：
      div.form-group.display-panel#example-code-div
        div.line
          label
            | 发送请求:
          div.code-box
            div.code-type-container.clearfix
                each example, index in exampleCodes
                  a.code-type(class=index ==0 ?'active':'',data-toggle="tab", role="tab", href="#exampleCode"+index).fl
                    | #{example.code_type}
              each example, index in exampleCodes
                div.example-code-container(class=index ==0 ?'active':'', id="exampleCode"+index)
                  div.example-code
                    pre.prettyprint
                      | #{example.example_code}
        div.line
          label
            | 返回结果:
          div.code-box
            div.code-type-container.clearfix
              a
                | JSON
            div.example-code-container.active
              each exampleResponse, index in exampleResponses
                div.example-code
                  //- - var example = exampleCodes[0] || {};
                  pre.prettyprint
                    | #{exampleResponse.example_response}
      //- error-code
      p.nav-title 异常码
      div.form-group.display-panel#error-code-div
        label #{error_code}
        table.table.param-table
          thead
            tr
              th 异常码
              th 错误返回
              th 描述
          tbody
            tr
              td 300101
              td User's request is expired
              td 用户请求过期

block scripts
  script(type='text/javascript').
    //- System.import('/apiContent/apiContent').then(function(ApiContent){
    //-   var apiContent = new ApiContent;
    //- });
    $('#modifyDate').html('|  更新时间：'+ getLocalTime(#{api.modifyDate}));
    function getLocalTime(s_time) {     
      var date = new Date(s_time);
      Y = date.getFullYear() + '-';
      M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
      D = date.getDate() + ' ';
      s_times = Y+M+D;
      return s_times ;
    }     
    PR.prettyPrint();
    function hideAll(){
      document.getElementById("basic-info-div").style.display="none";
      document.getElementById("request-params-div").style.display="none";
      document.getElementById("example-code-div").style.display="none";
      document.getElementById("error-code-div").style.display="none";
    }
    function basicInfo(){
      hideAll();
      document.getElementById("basic-info-div").style.display="block";
    }
    function requestParams(){
      hideAll();
      document.getElementById("request-params-div").style.display="block";
    }
    function exampleCodes(){
      hideAll();
      document.getElementById("example-code-div").style.display="block";
    }
    function errorCode(){
      hideAll();
      document.getElementById("error-code-div").style.display="block";
    }
    $(function(){
      $('.code-type-container a').click(function(){
        $('.code-type-container a').removeClass('active'); // remove the class from the currently selected
        $(this).addClass('active'); // add the class to the newly clicked link
      });
    });
