extend ../layout

block main-body
  include ../shared/components/header/header
  div.files.clearfix
    p.catalogue
      a(href="/"+lan+"/guide").chosen API集市 >
      a(href="/"+lan+"/files") 资料下载
    p.title 帮助文档
    div.files
      each file in files
        div.file
          img.format(src="/assets/img/file_download_"+file.format+".png")
          div.file-info
            div
              p.title #{file.title}
            p.time #{file.time}
            p.size 文件大小：#{file.size}
          a(target="_blank", href=file.link).download 
            img(src="/assets/img/file_download_icon.png")

block scripts
  script(type='text/javascript').