extend ../layout

block main-body
  include ../shared/components/header/header
  div.search.clearfix
    div.list-div.right
      p.top-text
        span 快速开发
        span.fr 综合排序
        span.fr.release 最新发布
      hr.black-line 
      ul.list
        each api in apis
          li.item.clearfix
            //- img(src="/assets/img/API-list-2_22.png")
            div.info
              a(href="/"+lan+"/mainTag/"+"no"+"/subTag/"+"no"+"/apiContent?apiID="+api.apiID) #{api.apiName} 
              p.new-request-address 请求url：#{api.newRequestAddress}
              p.description #{api.description}
              //- p 服务需求请联系QQ：
              //- p 已下载
              //-   span.download 1733
              //-   span 次
    input(type="hidden", id="subTagID", value=subTag)
    input(type="hidden", id="mainTagID", value=mainTag)
  //- include ../shared/components/footer/footer

block scripts
  script(type='text/javascript').
    
