.personal {
  margin: 0 auto;
  width: 1200px;
  padding-top: 35px; }
  .personal .title {
    color: #f5833a;
    font-size: 13px;
    margin-bottom: 10px; }
  .personal .line {
    background-color: #b1b0af; }
  .personal .icon {
    width: 168px;
    float: left;
    margin-top: 20px; }
    .personal .icon .footer {
      height: 37px;
      line-height: 37px;
      border: 1px #dae1ed solid; }
      .personal .icon .footer img {
        margin-top: 10px;
        margin-left: 20px; }
      .personal .icon .footer p {
        margin-left: 15px;
        color: #4a4a4a;
        font-size: 14px; }
  .personal .info {
    width: 600px;
    float: left;
    margin-left: 135px;
    margin-top: 32px; }
    .personal .info .sub-title {
      font-size: 18px; }
    .personal .info form {
      margin-top: 42px; }
      .personal .info form label {
        height: 40px;
        line-height: 40px;
        padding: 0;
        color: #666666;
        font-size: 13px;
        text-align: center; }
      .personal .info form input {
        height: 40px;
        width: 360px;
        padding-left: 10px;
        color: #4a4a4a;
        font-size: 13px;
        border: 1px #cccccc solid; }
        .personal .info form input:focus {
          border: 1px #53aaf1 solid; }
      .personal .info form .generated {
        background-color: #f0f0f0;
        color: #969696;
        font-size: 13px; }
    .personal .info .save {
      background-color: #ff9557;
      height: 46px;
      width: 300px;
      margin-top: 20px;
      margin-left: 5px;
      color: #fff;
      font-size: 20px;
      border: 1px #f08547; }
