extend ../layout

block main-body
  include ../shared/components/header/header
  div.api-content.clearfix
    if mainTagId != "no"
      div.left-panel
        div.choice
          each tag in tags
            if tag.display == 1
              p(id="mainTag" + tag.id).sub-title #{tag[tagName[lan]]}
                each subTag, index in tag.subTags
                  p
                    if subTag.display == 1
                      a(href="/"+lan+"/apiList/mainTag/" + tag.id+ "/subTag/" + subTag.id + "/?tagIDs=" + subTag.id, id="subTag" + subTag.id) #{subTag[tagName[lan]]}
    div.right-panel
      if api.schemaType
        //- if !userLoggedIn
        //-   script.
        //-     alert("未登录")
        //- else 
        //-   if !beehiveUser
        //-     script.
        //-       alert("取不到beehive用户")
        //-   else 
        //-     if !devicesFunctional
        //-       script.
        //-         alert("取不到virtual devices")
        //-     else 
        //-       if !correspondingDevices
        //-         script.
        //-           alert("取不到对应的设备")
        div.test
          div.title 试一试？
          div.curl-btn#curl 调用curl
          div.parameter-btn 
            a(target="_blank", href="/"+lan+"/apiTest?apiID="+api.apiID) 参数调用
        div.curl#curl
          div.header#curl
            p#curl 试一试
            button(data-clipboard-text=curl, id="copy") 复制cUrl
          pre.prettyprint.content#curl-content #{curl}
      div.icon.fr
        if subTag.id
          img.icon-img(src="/assets/img/"+lan+"_"+subTag.id+".png")
      p.api-name #{api.apiName}
      p.info
        span.info-name #{category}: 
        each tag in apiTags
          span #{tag[tagName[lan]]}
          span.disappear 、
      p.info
        span.info-name #{current_version}: 
        span #{api.version} 
          select(onchange="handleSelect(this)")#versionSelect
            each version in api.versionList
              option(value='/'+lan+'/mainTag/'+mainTagId+'/subTag/'+subTagId+'/apiContent?apiID='+api.apiID+'&versionID='+version.versionID) #{version.version}
      p.info.info-name#modifyDate
      p.info.info-name #{service_description}:
      p.service-content #{api.description}
      p.nav-title #{basic_information}:
      //- basic info
      div.form-group.display-panel#basic-info-div
        p.request-url #{request_url}:
        pre.prettyprint.link #{api.newRequestAddress}
      //- header
      p.nav-title #{request_parameter}(header):
      div.form-group.display-panel#request-params-div
        div.line
          table.table.param-table
            thead
              tr
                th.param-name
                  | #{parameter_name}
                th.param-type
                  | #{type}
                th.param-must
                  | #{required}
                th.param-desc
                  | #{description}
                th.param-value
                  | #{default_value}
                //- th.param-pos
                //-   | 参数位置
              tr
                td apiKey
                td string
                td
                  span.fa.fa-check
                td
                  a(class="hand", data-container="body", data-toggle="popover", data-placement="top", data-html="true", title="获取密钥", data-content="这是您在APIStore调用服务所需要的API密钥，<br />一个用户只有一个apikey，<br />可以调用平台所有服务<br/>注册用户后即可获得<br/>您可以在个人信息中查看您的apikey，<br/>为了您能够安全调用，<br/>请不要将apikey给他人使用。") apiKey
                td
              each param in api.bodyList
                if param.param_name == "Authorization"
                  tr
                    td #{param.param_name}
                    td #{param.param_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.param_note}
                    td #{param.param_value}
              each param in api.headerList
                if param.param_name == "Authorization"
                  tr
                    td #{param.param_name}
                    td #{param.param_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.param_note}
                    td #{param.param_value}
              each param in api.urlList
                if param.param_name == "Authorization"
                  tr
                    td #{param.param_name}
                    td #{param.param_type}
                    td
                      span.fa(class= param.must?'fa-check' : 'fa-close')
                    td #{param.param_note}
                  td #{param.param_value}
      //- request params
      p.nav-title #{request_parameter}(body):
      div.form-group.display-panel#request-params-div
        div.line
          table.table.param-table
            thead
              tr
                th.param-name
                  | #{parameter_name}
                th.param-type
                  | #{type}
                th.param-must
                  | #{required}
                th.param-desc
                  | #{description}
                th.param-value
                  | #{default_value}
                //- th.param-pos
                //-   | 参数位置
            tbody
            each param in api.bodyList
              if param.param_name != "Authorization"
                tr
                  td #{param.param_name}
                  td #{param.param_type}
                  td
                    span.fa(class= param.must?'fa-check' : 'fa-close')
                  td #{param.param_note}
                  td #{param.param_value}
            each param in api.headerList
              if param.param_name != "Authorization"
                tr
                  td #{param.param_name}
                  td #{param.param_type}
                  td
                    span.fa(class= param.must?'fa-check' : 'fa-close')
                  td #{param.param_note}
                  td #{param.param_value}
            each param in api.urlList
              if param.param_name != "Authorization"
                tr
                  td #{param.param_name}
                  td #{param.param_type}
                  td
                    span.fa(class= param.must?'fa-check' : 'fa-close')
                  td #{param.param_note}
                  td #{param.param_value}
      //- example code
      p.nav-title #{example_code}:
      div.form-group.display-panel#example-code-div
        div.line
          label
            | #{send_request}:
          div.code-box
            div.code-type-container.clearfix
                each example, index in exampleCodes
                  a.code-type(class=index ==0 ?'active':'',data-toggle="tab", role="tab", href="#exampleCode"+index).fl
                    | #{example.code_type}
              each example, index in exampleCodes
                div.example-code-container(class=index ==0 ?'active':'', id="exampleCode"+index)
                  div.example-code
                    pre.prettyprint
                      | #{example.example_code}
        div.line
          label
            | #{response}:
          div.code-box
            div.code-type-container.clearfix
              a
                | JSON
            div.example-code-container.active
              each exampleResponse, index in exampleResponses
                //- if index == 0
                div.example-code
                  //- - var example = exampleCodes[0] || {};
                  pre.prettyprint
                    | #{exampleResponse.example_response}
      //- error-code
      p.nav-title #{error_code}:
      div.form-group.display-panel#error-code-div
        label
        table.table.param-table
          thead
            tr
              th #{error_code}
              th #{error_response}
              th #{description}
          tbody
            tr
              td 300101
              td User's request is expired
              td #{request_expired}
    a(href="/registration")
        //- p Your browser does not support iframes
  //- include ../shared/components/footer/footer
  input(type="hidden", id="mainTagID", value=mainTagId)
  input(type="hidden", id="subTagID", value=subTagId)
  input(type="hidden", id="updateTime", value=update_time)
  input(type="hidden", id="version", value=api.version)
  input(type="hidden", id="selectedIndex", value=selectedIndex)

block scripts
  script(type='text/javascript').
    var clipboard = new Clipboard('#copy');
    clipboard.on('success', function(e) {
      alert('复制成功');
      e.clearSelection();
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    console.log(clipboard);
    $("[data-toggle=popover]").popover();
    PR.prettyPrint();
    var subTagID = 'subTag' + $('#subTagID').val();
    var $subTag = $('#' + subTagID);
    $subTag.addClass('subtag-active');
    var mainTagID = 'mainTag' + $('#mainTagID').val();
    var $mainTag = $('#' + mainTagID);
    $mainTag.addClass('maintag-active');
    //- System.import('/apiContent/apiContent').then(function(ApiContent){
    //-   var apiContent = new ApiContent;
    //- });
    $('#modifyDate').html($('#updateTime').val() + ': '+ getLocalTime(#{api.modifyDate}));
    function getLocalTime(s_time) {     
      var date = new Date(s_time);
      Y = date.getFullYear() + '-';
      M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
      D = date.getDate() + ' ';
      s_times = Y+M+D;
      return s_times ;
    }     
    function hideAll(){
      document.getElementById("basic-info-div").style.display="none";
      document.getElementById("request-params-div").style.display="none";
      document.getElementById("example-code-div").style.display="none";
      document.getElementById("error-code-div").style.display="none";
    }
    function basicInfo(){
      hideAll();
      document.getElementById("basic-info-div").style.display="block";
    }
    function requestParams(){
      hideAll();
      document.getElementById("request-params-div").style.display="block";
    }
    function exampleCodes(){
      hideAll();
      document.getElementById("example-code-div").style.display="block";
    }
    function errorCode(){
      hideAll();
      document.getElementById("error-code-div").style.display="block";
    }
    $(function(){
      $('.code-type-container a').click(function(){
        $('.code-type-container a').removeClass('active');
        $(this).addClass('active');
      });
      var curl = $('.curl .content').text();
      $('.test').click(function(){
        $('.curl-btn').toggle();
        $('.parameter-btn').toggle();
      })
      //click other area curl hide
      $("body").click(function(e) {
        if(e.target.id != 'curl' && e.target.id != 'copy' && e.target.id != 'content') {
          $(".curl").hide();
        }
      });
      //click curl btn shows curl
      $('.curl-btn').click(function(){
        if(curl.startsWith('')){
          $('.curl').toggle();
        }else{
          alert('用户未登录或此api没有测试');
        }
      })
      $('.curl-btn').hide();
      $('.parameter-btn').hide();
      $('#copy').click(function(){
      })

      //for testing
      $('.test').click(function(){
        var flag = false;
        var userLoggedIn = "#{userLoggedIn}";
        var beehiveUser = "#{beehiveUser}";
        var devicesFunctional = "#{devicesFunctional}";
        var correspondingDevices = "#{correspondingDevices}";
        console.log('userLoggedIn', typeof(userLoggedIn));   
        console.log('beehiveUser', beehiveUser);        
        console.log('devicesFunctional', devicesFunctional);     
        console.log('correspondingDevices', correspondingDevices);   
             
        if(userLoggedIn != 'true') {
          alert('用户未登录');
        }else{
          if(beehiveUser != 'true'){
            alert('得不到beehive用户');
          }else{
            if(devicesFunctional != 'true'){
              alert('得不到设备');
            }else{
              if(correspondingDevices != 'true'){
                alert('得不到对应设备');
              }else{
                flag = true;
              }
            }
          }
        }
        if(flag == false) {
          $('.curl-btn').toggle();
          $('.parameter-btn').toggle();
        }
      })
    });
    /**
      * version select 
      */
    //- console.log('version', $('#version').val())
    //- console.log('version select', $('#versionSelect').text());
    //- $('#versionSelect').text($('#version').val());
    //- console.log('after version select', $('#versionSelect').text());
    function handleSelect(elm) {
      window.location.href=elm.value;
      //- console.log('elm', elm.text);
    }
    document.getElementById("versionSelect").selectedIndex = $('#selectedIndex').val();
    