.api-test .catalogue {
  padding: 0 20px;
  font-size: 14px;
  color: #888888;
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid #36739f; }
  .api-test .catalogue .chosen {
    color: #f5833a; }
  .api-test .catalogue a {
    color: #888888; }

.api-test .main {
  background: #f6f6f7;
  height: 100%;
  width: 100%;
  padding-top: 20px; }
  .api-test .main .div-background {
    background: #fff;
    width: 1225px;
    margin: 0 auto;
    padding: 0 20px; }
  .api-test .main .module-title {
    font-size: 15px;
    padding-top: 30px; }
  .api-test .main .title {
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    position: relative; }
    .api-test .main .title .send {
      width: 100px;
      height: 40px;
      color: #fff;
      border-radius: 6px;
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 15px;
      background-color: #fdbd50;
      border: 0; }
  .api-test .main .paras {
    margin-top: 10px; }
    .api-test .main .paras .para {
      margin-top: 10px;
      height: 40px;
      width: 100%; }
      .api-test .main .paras .para input {
        padding-left: 20px; }
      .api-test .main .paras .para .key {
        width: 400px;
        height: 100%; }
      .api-test .main .paras .para .value {
        width: 685px;
        height: 100%;
        margin-left: 10px; }
      .api-test .main .paras .para .remove {
        margin-left: 40px;
        font-size: 20px; }
      .api-test .main .paras .para .input-border {
        border: 2px solid #cdd0d3;
        border-radius: 4px; }
  .api-test .main .result {
    margin-top: 10px;
    padding-bottom: 20px; }
    .api-test .main .result pre {
      margin-top: 10px;
      min-height: 20px; }
    .api-test .main .result #result {
      color: #fff; }
