body .dropdown-backdrop,
html .dropdown-backdrop {
  position: static; }

.search {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: -160px;
  font-size: 13px; }
  @media (max-width: 1200px) {
    .search {
      width: 100% !important;
      margin: 0 0 -160px; }
      .search .left {
        width: 100% !important; }
      .search .right {
        width: 100% !important;
        padding: 0 30px; }
      .search .choice {
        display: none; }
      .search .mobile-choice {
        display: block !important; }
        .search .mobile-choice .content-nav {
          background-color: #dadfe6;
          width: 100%;
          margin: 30px auto 0; }
          .search .mobile-choice .content-nav .nav.dropdown {
            height: 50px;
            float: left;
            cursor: pointer; }
            .search .mobile-choice .content-nav .nav.dropdown.open {
              background: #f59f49; }
              .search .mobile-choice .content-nav .nav.dropdown.open .dropdown-toggle {
                color: #fff; }
            .search .mobile-choice .content-nav .nav.dropdown .dropdown-menu {
              border-radius: 0;
              box-shadow: none;
              -webkit-box-shadow: none;
              min-width: 0;
              padding: 0;
              margin: 0;
              min-width: 100%; }
            .search .mobile-choice .content-nav .nav.dropdown .dropdown-toggle {
              font-size: 20px;
              line-height: 50px;
              display: block;
              width: 100%;
              text-decoration: none;
              text-align: center;
              color: #3a3a3a; }
            .search .mobile-choice .content-nav .nav.dropdown ul li a {
              color: #3a3a3a;
              font-size: 18px; }
              .search .mobile-choice .content-nav .nav.dropdown ul li a:hover {
                background: #f59f49;
                color: #fff; } }
  .search .right {
    width: 100%; }
  .search .choice {
    border: 1px #b1b0af solid;
    border-radius: 3px;
    margin-top: 24px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 30px; }
    .search .choice .device {
      font-size: 14px;
      color: #22bad7; }
    .search .choice .sub-title {
      font-size: 14px;
      font-weight: bold;
      color: #5a6465; }
    .search .choice .main-tag-active {
      color: #22bad7 !important; }
    .search .choice p {
      font-size: 13px;
      color: #b1b0af;
      margin-top: 20px; }
      .search .choice p a {
        color: #b1b0af; }
        .search .choice p a:hover {
          color: #e06f1c;
          text-decoration: underline; }
      .search .choice p .sub-tag-active {
        color: #e06f1c !important;
        text-decoration: underline; }
  .search .mobile-choice {
    display: none; }
  .search .list-div {
    padding-top: 30px;
    padding-left: 24px; }
    .search .list-div .top-text {
      margin-left: 20px; }
      .search .list-div .top-text span {
        font-size: 13px;
        color: #5e5e5e; }
      .search .list-div .top-text .release {
        color: #e06f1c;
        margin-right: 20px; }
    .search .list-div .black-line {
      margin-top: 9px;
      border-top: 1px #5e5e5e solid; }
    .search .list-div .list {
      margin-bottom: 70px; }
      .search .list-div .list li:first-child {
        border-top: none; }
      .search .list-div .list .item {
        padding-top: 20px;
        border-top: dotted 1px #888888; }
        .search .list-div .list .item img {
          display: block;
          float: left;
          vertical-align: top;
          padding-bottom: 20px; }
        .search .list-div .list .item .info {
          width: 100%;
          display: block;
          float: left;
          vertical-align: top;
          padding-left: 370px;
          margin-left: -310px;
          margin-top: 3px; }
          .search .list-div .list .item .info a {
            color: #333333;
            font-size: 18px; }
          .search .list-div .list .item .info .new-request-address {
            margin-top: 10px;
            font-size: 14px; }
          .search .list-div .list .item .info .description {
            font-size: 14px;
            color: #888888;
            margin-bottom: 22px;
            margin-top: 10px; }
          .search .list-div .list .item .info .download {
            color: #f5833a;
            font-size: 12px; }
