@charset "UTF-8";
.api-preview {
  width: 1200px;
  background: #fff;
  overflow: hidden;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .api-preview {
      width: auto !important;
      margin: 0 0 -160px; }
      .api-preview .left-panel {
        width: 100% !important;
        padding-left: 30px !important; }
      .api-preview .right-panel {
        width: 100% !important;
        padding: 0 30px; } }
  .api-preview .left-panel {
    width: 370px;
    float: left;
    padding-top: 35px;
    font-size: 14px;
    padding-left: 80px; }
    .api-preview .left-panel .catalogue {
      margin-bottom: 30px;
      color: #888888; }
      .api-preview .left-panel .catalogue .chosen {
        color: #f5833a; }
    .api-preview .left-panel .icon {
      border-color: #000;
      width: 240px; }
      .api-preview .left-panel .icon .icon-img {
        width: 240px; }
    .api-preview .left-panel .footer-downloaded {
      background: #f7f8fa;
      text-align: center;
      line-height: 35px; }
      .api-preview .left-panel .footer-downloaded .download-number {
        color: #f5833a; }
    .api-preview .left-panel .visit {
      float: left;
      width: 120px;
      text-align: center;
      font-size: 12px;
      margin-top: 14px;
      color: #888888; }
    .api-preview .left-panel .divide-line {
      margin-top: 13px;
      float: left;
      width: 1px;
      height: 25px;
      background: #dae1ed; }
    .api-preview .left-panel .item-api {
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      color: #0095ea;
      padding-left: 15px; }
      .api-preview .left-panel .item-api.active, .api-preview .left-panel .item-api:hover {
        box-shadow: inset -3px 0 4px 1px rgba(0, 0, 0, 0.1);
        background: #0095ea;
        color: #fff;
        border-right: solid 10px #2171C2;
        border-right: 10px solid #2171C2; }
  .api-preview .right-panel {
    width: 800px;
    float: left;
    padding-top: 80px; }
    .api-preview .right-panel.active {
      display: block; }
    .api-preview .right-panel .api-name {
      font-size: 18px;
      color: #333333; }
    .api-preview .right-panel .info {
      margin-top: 25px;
      color: #4a4a4a;
      font-size: 13px; }
      .api-preview .right-panel .info span:last-child {
        display: none; }
    .api-preview .right-panel .info-name {
      color: #969696;
      font-size: 13px; }
    .api-preview .right-panel .apikey {
      color: #36739f;
      font-size: 13px; }
    .api-preview .right-panel .service-content {
      margin-top: 10px;
      background: #f7f8fa;
      color: #5c5c5c;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 150%;
      font-family: Verdana,"华文细黑";
      padding: 13px 25px;
      margin-bottom: 30px; }
    .api-preview .right-panel .additional-info {
      float: left;
      width: 120px;
      margin-top: 20px;
      line-height: 18px;
      height: 18px;
      color: #4a4a4a;
      font-size: 14px; }
      .api-preview .right-panel .additional-info .text {
        margin-left: 6px; }
    .api-preview .right-panel .nav-title {
      color: #f5833a;
      font-size: 16px; }
    .api-preview .right-panel .content-nav {
      width: 780px;
      background-color: #dadfe6;
      margin-top: 60px; }
      .api-preview .right-panel .content-nav .nav {
        width: 195px;
        height: 40px;
        line-height: 20px;
        float: left;
        cursor: pointer; }
        .api-preview .right-panel .content-nav .nav a {
          line-height: 40px;
          display: block;
          text-decoration: none;
          text-align: center;
          border-right: 1px solid #fff;
          color: #3a3a3a; }
        .api-preview .right-panel .content-nav .nav.active, .api-preview .right-panel .content-nav .nav:hover {
          background: #f59f49; }
          .api-preview .right-panel .content-nav .nav.active a, .api-preview .right-panel .content-nav .nav:hover a {
            border-right: none;
            color: #fff; }
        .api-preview .right-panel .content-nav .nav:last-child a {
          border-right: none; }
    .api-preview .right-panel .display-panel {
      margin-top: 10px; }
      .api-preview .right-panel .display-panel table.content-table {
        font-size: 12px; }
        .api-preview .right-panel .display-panel table.content-table tr {
          height: 24px;
          line-height: 24px; }
          .api-preview .right-panel .display-panel table.content-table tr td {
            padding-left: 15px; }
          .api-preview .right-panel .display-panel table.content-table tr .col-name {
            max-width: 120px;
            font-size: 14px;
            color: #666666;
            font-weight: 500;
            text-align: center;
            margin-bottom: 0px; }
          .api-preview .right-panel .display-panel table.content-table tr span {
            font-size: 14px; }
      .api-preview .right-panel .display-panel.active {
        display: block; }
      .api-preview .right-panel .display-panel .line {
        margin-bottom: 20px; }
      .api-preview .right-panel .display-panel .text-content {
        color: #4a4a4a;
        font-size: 13px; }
      .api-preview .right-panel .display-panel .dashed-line {
        margin-top: 30px;
        border-top: 1px #cdcdcd dashed;
        height: 1px; }
      .api-preview .right-panel .display-panel .table.param-table {
        border: #ccc solid 1px; }
        .api-preview .right-panel .display-panel .table.param-table th {
          border: #ccc solid 1px;
          text-align: left;
          font-size: 13px;
          color: #4a4a4a;
          background: #f0f0f0; }
        .api-preview .right-panel .display-panel .table.param-table td {
          border: #ccc solid 1px;
          color: #4a4a4a;
          font-size: 13px; }
        .api-preview .right-panel .display-panel .table.param-table,
        .api-preview .right-panel .display-panel .table.param-table .fa-check {
          color: #3c763d; }
        .api-preview .right-panel .display-panel .table.param-table .fa-close {
          color: #a94442; }
      .api-preview .right-panel .display-panel .code-box {
        margin-top: 15px;
        border: 1px #e0e0e0 solid; }
      .api-preview .right-panel .display-panel .code-type-container {
        height: 50px;
        background-color: #e8f7ff; }
        .api-preview .right-panel .display-panel .code-type-container a {
          line-height: 50px;
          padding-left: 25px;
          cursor: pointer;
          color: #21bdd9; }
          .api-preview .right-panel .display-panel .code-type-container a.active {
            color: #0095ea; }
      .api-preview .right-panel .display-panel .example-code-container {
        height: auto;
        display: none;
        background-color: #fafcff; }
        .api-preview .right-panel .display-panel .example-code-container.active {
          display: block; }
        .api-preview .right-panel .display-panel .example-code-container .example-code {
          height: auto; }
