/*
 * @modified $Author: George.Lin $
 * @version $Rev: 2016/06 $
 */
body {
  background-color: #fff !important; }

.form-control {
  border-radius: 3px;
  border: #8c8c8c solid 1px;
  background: #fff;
  height: 43px; }

.btn {
  padding: 5px 17px;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  font-weight: normal; }
  .btn.btn-warning {
    background-color: #f5833a; }

.input-group .input-group-addon {
  border: none;
  border-radius: 0px;
  color: #21beda;
  background: #36739f;
  height: 43px;
  width: 43px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 23px;
  line-height: 43px; }

a:hover, a:visited {
  text-decoration: none; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

ol, ul {
  list-style: none; }

ins, a {
  text-decoration: none; }

fieldset, img {
  border: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

body, button, input, select, textarea {
  font: 12px tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1"; }

button, input, select, textarea {
  font-size: 100%; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

iframe {
  display: block; }

.fix {
  *zoom: 1; }

.fix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden; }

:focus {
  outline: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.mt {
  margin-top: 10px; }

.t_m {
  text-align: center; }

.cursor {
  cursor: pointer; }

.cred {
  color: gray; }

.err {
  color: red; }

.hide {
  display: none; }

.show {
  display: block; }

body, html {
  height: 100%; }

body {
  overflow-y: scroll; }

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #2d2d2d;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important; }

.pln {
  color: #cccccc; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #999999; }

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #2d2d2d;
  list-style-type: decimal; }

@media screen {
  /* string content */
  .str {
    color: #99cc99; }
  /* keyword */
  .kwd {
    color: #cc99cc; }
  /* comment */
  .com {
    color: #999999; }
  /* type name */
  .typ {
    color: #6699cc; }
  /* literal value */
  .lit {
    color: #f99157; }
  /* punctuation */
  .pun {
    color: #cccccc; }
  /* lisp open bracket */
  .opn {
    color: #cccccc; }
  /* lisp close bracket */
  .clo {
    color: #cccccc; }
  /* markup tag name */
  .tag {
    color: #f2777a; }
  /* markup attribute name */
  .atn {
    color: #f99157; }
  /* markup attribute value */
  .atv {
    color: #66cccc; }
  /* declaration */
  .dec {
    color: #f99157; }
  /* variable name */
  .var {
    color: #f2777a; }
  /* function name */
  .fun {
    color: #6699cc; } }

.hand {
  cursor: pointer; }

/*****************************************************export end*********************************************************************/
