header
	div.content.clearfix
		a.logo(href='/' + lan + '/guide')
			img(src="/assets/img/"+lan+"_logo.png")
		div.right
			div.search-area
				div
					div.input-group
						input.form-control(placeholder="", id="searchbox")
						a(href="javascript:window.location='/'+document.getElementById('lan').value+'/search/'+document.getElementById('searchbox').value").input-group-addon.fa.fa-search
				div.clearfix
					div.pull-right
						ul.tag-list
							li
								a(href="/"+lan+"/apiList/mainTag/404/subTag/410?tagIDs=410")
									| #{air_conditioner}
							li 
								a(href="/"+lan+"/apiList/mainTag/429/subTag/406?tagIDs=406")
									| #{rule_engine}
							li
								a(href="/"+lan+"/apiList/mainTag/429/subTag/407?tagIDs=407")
									| #{geo_location}

			ul.menu
				li
					a(href='/registration/index.html#/Secure/Login')
						| #{publish_service}
				//- li
				//- 	a(href='/' + lan + '/index')
				//- 		| #{questions}
				li
					a(href="/" + lan + "/files")
						| #{download_files}
				li
					a(href='/' + lan + '/index')
						| #{community}
			div.v-hr
			div.control-pad
				if user
					if user.displayName
						a.btn.btn-primary(href="/"+lan+"/personal") #{user.displayName}
					else if user.loginName
						a.btn.btn-primary(href="/"+lan+"/personal") #{user.loginName}
				else 
					a.btn.btn-warning#login(href='/registration/index.html#/Secure/Login') #{login}
				a(href="/"+lan+"/tutorial")
					| #{help}
			div(onclick="javascript:changeLan(this)", id=lan).language.clearfix
				a(href='/' + otherLan + '/guide').hand #{lan} |
				img(src="/assets/img/"+lan+".png")
	input(type="hidden", id="lan", value=lan)

block scripts
	script(type='text/javascript').
		window.onload = function (callback) {
			var lan = $('#lan').val();
			$('#searchbox').keypress(function (e) {
				if (e.keyCode == 13 && $(this).val()!= '') {
					location.href = window.location='/'+ lan +'/search/' + $(this).val();
					console.log('here');
				}else{
				}
			});
		};
