extend ../layout

block main-body
	include ../shared/components/header/header
	div.api-list.clearfix
		div.left
			div.choice
				each tag in tags
					if tag.display == 1
							p(id="mainTag" + tag.id).sub-title #{tag[tagName[lan]]}
								each subTag, index in tag.subTags
									p
										if subTag.display == 1
											a(href="/"+lan+"/apiList/mainTag/" + tag.id+ "/subTag/" + subTag.id + "/?tagIDs=" + subTag.id, id="subTag" + subTag.id) #{subTag[tagName[lan]]}
			div.mobile-choice
				div.content-nav.ca.row
					each tag in tags
						div.nav.dropdown.col-xs-2
							a(aria-haspopup="true" aria-expanded="false" data-toggle="dropdown").dropdown-toggle #{tag[tagName[lan]]}
							ul.dropdown-menu
								each subTag in tag.subTags
									li
										a(href="/"+lan+"/apiList/mainTag/" + tag.id + "/subTag/" + subTag.id + "/?tagIDs=" + subTag.id) #{subTag[tagName[lan]]}
		div.list-div.right
			div.clearfix
				img(src="/assets/img/"+lan+"_"+subTag+".png").tag-img
				div.tag-info
					p.title #{subTagInfo[tagName[lan]]}
					div.description #{subTagInfo.description}
			hr.dashed-line
			if subTagInfo.thingType == '' || subTagInfo.thingType == null
				div.selected-div
					div.selected-search #{filter} >
						each tag in tags
							each subTag in tag.subTags
								each tagID in tagIDs
									if tagID == subTag.id
										div(onclick="javascript:removeSubTagClick(this)", id = subTag.id).selected-subtag.hand #{subTag[tagName[lan]]} x
					//-  	each subTag in tag.subTags
					//- 	 	each tagID in tagIDs
					//- 		 	if tagID == subTag.id
					//- 			 	div.selected-subtag 原始数量 x
				div.subtag-div
					each tag,index in tags
						if index > 0
							each subTag in tag.subTags
								div(onclick="javascript:onSubTagClick(this)", id = subTag.id).subtag-choice.hand #{subTag[tagName[lan]]}
			hr.dashed-line
			if subTagInfo.thingType != null && subTagInfo.thingType != ''
				ul.nav.nav-tabs.layer-nav
					li(role="presentation" id="application" onclick="onLayerClick(this)").active
						a #{application_layer}API
					li(role="presentation" id="device" onclick="onLayerClick(this)")
						a #{device_layer}API
					li(role="presentation" id="haystack" onclick="onLayerClick(this)")
						a HayStack
				div(id="application_div").api-div.show
					table.table.table-bordered.api-table
						thead
							tr
								th #{property}
								th.api-th API
						tbody
						each api in apis
							if api.schemaType == "application" && api.functionType == "property"
								tr
									td(rowspan = "2" valign="middle") #{api[functionNameInLan[lan]]}
									td
										a(href="/"+lan+"/mainTag/"+mainTag+"/subTag/"+subTag+"/apiContent?apiID="+api.apiID+"&versionID="+api.id) #{api.apiName}
								tr 
									td #{api.newRequestAddress}
						thead
							tr
								th #{action}
								th.api-th API
						tbody
						each api in apis
							if api.schemaType == "application" && api.functionType == "action"
								tr
									td(rowspan = "2") #{api.functionDisplayName}
									td
										a(href="/"+lan+"/mainTag/"+mainTag+"/subTag/"+subTag+"/apiContent?apiID="+api.apiID+"&versionID="+api.id) #{api.apiName}
								tr 
									td #{api.newRequestAddress}
				div(id="device_div").api-div
					table.table.table-bordered.api-table
						thead
							tr
								th #{property}
								th.api-th API
						tbody
						each api in apis
							if api.schemaType == "device" && api.functionType == "property" 
								tr
									td(rowspan = "2") #{api.functionDisplayName}
									td
										a(href="/"+lan+"/mainTag/"+mainTag+"/subTag/"+subTag+"/apiContent?apiID="+api.apiID+"&versionID="+api.id) #{api.apiName}
								tr 
									td #{api.newRequestAddress}
						thead
							tr
								th #{action}
								th.api-th API
						tbody
						each api in apis
							if api.schemaType == "device" && api.functionType == "action"
								tr
									td(rowspan = "2") #{api.functionDisplayName}
									td
										a(href="/"+lan+"/mainTag/"+mainTag+"/subTag/"+subTag+"/apiContent?apiID="+api.apiID+"&versionID="+api.id) #{api.apiName}
								tr 
									td #{api.newRequestAddress}	
				div(id="haystack_div").api-div
					table.table.table-bordered.api-table
						thead
							tr
								th #{property}
								th.api-th API
						tbody
						each api in apis
							if api.schemaType == "haystack" && api.functionType == "property"
								tr
									td(rowspan = "2") #{api.functionDisplayName}
									td
										a(href="/"+lan+"/mainTag/"+mainTag+"/subTag/"+subTag+"/apiContent?apiID="+api.apiID+"&versionID="+api.id) #{api.apiName}
								tr 
									td #{api.newRequestAddress}
						thead
							tr
								th #{action}
								th.api-th API
						tbody
						each api in apis
							if api.schemaType == "haystack" && api.functionType == "action"
								tr
									td(rowspan = "2") #{api.functionDisplayName}
									td
										a(href="/"+lan+"/mainTag/"+mainTag+"/subTag/"+subTag+"/apiContent?apiID="+api.apiID+"&versionID="+api.id) #{api.apiName}
								tr 
									td #{api.newRequestAddress}
			if subTagInfo.thingType == null || subTagInfo.thingType == ''
				ul.list
					each api in apis
						li.item.clearfix
							div.api
								div.before-name.fl
								div.info
									a(href="/"+lan+"/mainTag/"+mainTag+"/subTag/"+subTag+"/apiContent?apiID="+api.apiID+"&versionID="+api.id) #{api.apiName}
									p.new-request-address #{request_url}: #{api.newRequestAddress}
									p.description #{api.description}
						hr.dashed-line
		
		input(type="hidden", id="subTagID", value=subTag)
		input(type="hidden", id="mainTagID", value=mainTag)
		each tagID, index in tagIDs
			input(type="hidden", id="tagID" + index, value=tagID)
		input(type="hidden", id="tagsLength", value=tagsLength)
		input(type="hidden", id="lan", value=lan)
		
	//- include ../shared/components/footer/footer

block scripts
	script(type='text/javascript').
		var subTagID = 'subTag' + $('#subTagID').val();
		var $subTag = $('#' + subTagID);
		$subTag.addClass('subtag-active');
		var mainTagID = 'mainTag' + $('#mainTagID').val();
		var $mainTag = $('#' + mainTagID);
		$mainTag.addClass('maintag-active');
		for(i=0; i<$('#tagsLength').val(); i++){
			var tagID = $('#tagID'+i).val();
			$('#choice'+tagID+'.subtag-choice').addClass('subtag-active');
		}
		function onSubTagClick(obj) {
			var tagIDs = [];
			tagIDs.push($('#subTagID').val());
			for(i=1; i<$('#tagsLength').val(); i++){
				tagIDs.push($('#tagID'+i).val());
			}
			if($('#subTagID').val() != obj.id){
				tagIDs.push(obj.id);
			}
			uniqueArray = tagIDs.filter(function(item, pos, self) {
				return self.indexOf(item) == pos;
			})
			window.open('/'+$('#lan').val()+'/apiList/mainTag/' + $('#mainTagID').val() + '/subTag/' + $('#subTagID').val() 
				+ '?tagIDs=' + uniqueArray, "_self");
		}
		function removeSubTagClick(obj) {
			var tagIDs = [];
			tagIDs.push($('#subTagID').val());
			for(i=1; i<$('#tagsLength').val(); i++){
				if($('#tagID'+i).val() != obj.id){
					tagIDs.push($('#tagID'+i).val());
				}
			}
			window.open('/'+$('#lan').val()+'/apiList/mainTag/' + $('#mainTagID').val() + '/subTag/' + $('#subTagID').val() 
				+ '?tagIDs=' + tagIDs, "_self");
		}
		function onLayerClick(obj) {
			$('#application').removeClass('active');
			$('#device').removeClass('active');
			$('#haystack').removeClass('active');
			$('#' + obj.id).addClass('active');
			$('#application_div').removeClass('show');
			$('#device_div').removeClass('show');
			$('#haystack_div').removeClass('show');
			$('#' + obj.id + '_div').addClass('show');
		}
