.files {
  padding: 50px 100px; }
  .files .catalogue {
    font-size: 14px;
    margin-bottom: 30px;
    color: #888888; }
    .files .catalogue .chosen {
      color: #f5833a; }
    .files .catalogue a {
      color: #888888; }
  .files .title {
    font-size: 18px; }
  .files .files {
    padding: 30px 0; }
    .files .files .file {
      width: 378px;
      height: 80px;
      float: left;
      margin-right: 30px;
      padding: 15px;
      border: 1px solid #e4e4e4;
      margin-bottom: 20px;
      font-size: 14px; }
      .files .files .file:hover {
        box-shadow: 2px 4px 6px #e4e4e4; }
      .files .files .file .format {
        float: left; }
      .files .files .file .file-info {
        float: left;
        margin-left: 35px;
        width: 220px; }
        .files .files .file .file-info .time {
          margin-top: 12px;
          float: left; }
        .files .files .file .file-info .size {
          margin-top: 12px;
          float: right; }
      .files .files .file .download {
        float: right;
        height: 50px;
        width: 20px; }
        .files .files .file .download img {
          width: 20px;
          height: 20px;
          margin-top: 15px; }
