.home {
  padding-top: 30px;
  position: relative;
  z-index: 1;
  background: url("/assets/img/marketing.png") no-repeat;
  width: 100%;
  background-position: center 0;
  min-width: 1200px; }
  .home .page-content {
    width: 1200px;
    margin: 0 auto; }
    .home .page-content .marketing-panel .left-side {
      float: left;
      width: 260px; }
      .home .page-content .marketing-panel .left-side ul.tag-list li.tag {
        width: 130px;
        float: left;
        position: relative;
        height: 130px;
        padding: 2px;
        text-align: center;
        line-height: 50px;
        background: rgba(234, 117, 43, 0.7);
        cursor: pointer;
        line-height: 130px; }
        .home .page-content .marketing-panel .left-side ul.tag-list li.tag.odd {
          background: rgba(245, 131, 58, 0.7); }
        .home .page-content .marketing-panel .left-side ul.tag-list li.tag img {
          height: 40px;
          position: relative;
          display: block;
          margin: 20px auto 10px;
          opacity: 0.5; }
        .home .page-content .marketing-panel .left-side ul.tag-list li.tag span {
          color: #fff;
          font-size: 15px;
          display: block;
          width: 100%;
          text-align: center;
          line-height: initial;
          opacity: 0.8; }
        .home .page-content .marketing-panel .left-side ul.tag-list li.tag .no-pic {
          margin-top: 50px; }
        .home .page-content .marketing-panel .left-side ul.tag-list li.tag.active, .home .page-content .marketing-panel .left-side ul.tag-list li.tag:hover {
          background: rgba(33, 190, 218, 0.7); }
          .home .page-content .marketing-panel .left-side ul.tag-list li.tag.active img, .home .page-content .marketing-panel .left-side ul.tag-list li.tag:hover img {
            opacity: 1; }
          .home .page-content .marketing-panel .left-side ul.tag-list li.tag.active span, .home .page-content .marketing-panel .left-side ul.tag-list li.tag:hover span {
            opacity: 1; }
    .home .page-content .marketing-panel .center-side {
      width: 630px;
      margin: 0 10px;
      height: 390px;
      float: left; }
      .home .page-content .marketing-panel .center-side img {
        width: 100%;
        height: 100%; }
    .home .page-content .marketing-panel .right-side {
      float: left;
      width: 285px; }
      .home .page-content .marketing-panel .right-side .panel {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 5px 5px 0 0; }
        .home .page-content .marketing-panel .right-side .panel .panel-heading {
          font-size: 16px;
          padding: 0;
          height: 40px;
          line-height: 40px;
          text-indent: 18px; }
        .home .page-content .marketing-panel .right-side .panel .panel-body {
          padding: 0; }
          .home .page-content .marketing-panel .right-side .panel .panel-body ul li.brand {
            line-height: 100px;
            height: 100px;
            background: #fff;
            width: 50%;
            float: left;
            border: solid 1px #ccc;
            margin-bottom: -1px;
            z-index: 1;
            position: relative;
            text-align: center; }
            .home .page-content .marketing-panel .right-side .panel .panel-body ul li.brand:hover {
              border-color: #f5833a;
              z-index: 2; }
            .home .page-content .marketing-panel .right-side .panel .panel-body ul li.brand.top {
              border-top: none; }
            .home .page-content .marketing-panel .right-side .panel .panel-body ul li.brand.left {
              margin-right: -1px;
              border-left: none; }
            .home .page-content .marketing-panel .right-side .panel .panel-body ul li.brand.right {
              border-right: none; }
            .home .page-content .marketing-panel .right-side .panel .panel-body ul li.brand.bottom {
              border-bottom: none; }
        .home .page-content .marketing-panel .right-side .panel .panel-footer {
          height: 49px;
          line-height: 29px;
          background: #e9f2f9;
          font-size: 16px; }
          .home .page-content .marketing-panel .right-side .panel .panel-footer img {
            margin-right: 15px; }
    .home .page-content .content-panel {
      margin-top: 30px;
      background: #fff; }
    .home .page-content .use-case-title {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px; }
    .home .page-content .use-case-content .row {
      margin-left: -5px;
      margin-right: -5px; }
      .home .page-content .use-case-content .row .col-xs-2 {
        padding-left: 5px;
        padding-right: 5px; }
    .home .page-content .use-case-content .case:hover i {
      border-color: #f5833a; }
    .home .page-content .use-case-content .case i {
      border: solid 1px #ddd;
      height: 205px;
      width: 188px;
      display: block; }
    .home .page-content .partner-title {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px; }
    .home .page-content .partner-content ul li {
      float: left;
      border: solid 1px #ddd;
      width: 200px;
      margin-right: -1px;
      margin-bottom: -1px;
      text-align: center;
      height: 100px;
      position: relative;
      line-height: 100px;
      z-index: 1; }
      .home .page-content .partner-content ul li:hover {
        border-color: #f5833a;
        z-index: 2; }
